    /* Header Session */
    .header {
      position: relative;
      background: url('image/homepage_header.jpg'), rgba(0,0,0,0.5);
      background-blend-mode: darken;
      background-size: cover;
      background-position: center;
      height: 800px;
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .header-content {
      width: 50%;
      padding: 20px;
    }

    .header-content h6,
    .header-content h1 {
      text-align: left;
      margin: 0;
    }

    .header-content h6 {
      margin: 36px 0px;
    }

    .header-content button {
      font-size: 36px;
      padding: 10px 60px;
      margin:36px 0px;
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      position: relative;
    }
    
    .header-content .telephone-icon {
      font-size: 24px;
      margin-right: 10px;
    }
    
    .icon-wrapper {
      display: flex;
      align-items: center;
    }
    
    .telephone-icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      z-index: 2; 
    }
    
    .circle {
      position: absolute;
      left: 0px;
      top: 50%;
      margin-right: 10px;
      transform: translateY(-50%);
      width: 42px;
      height: 42px;
      background: #700000;
      border-radius: 50%; 
      z-index: 1;
    }
    
    /* About Session */
    .about {
      display: flex;
    }
    
    .about-left {
      width: 50%;
    }

    .about-left-content {
      padding: 15%;
    }
    
    .about-left h3,
    .about-left h6 {
      color: black;  
      margin-bottom: 20px; 
    }
    
    .about-left button {
      color: #700000;
      background-color: transparent;
      border: 2px solid #700000;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .about-left button:hover {
      color: white;
      background-color: #700000;
    }
    
    .about-right {
      background-color: #700000;
      width: 50%;
      color: white;
    }
    
    .about-right-content {
      text-align: left; 
      padding: 15%;
    }
    
    .about-right-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      text-align: center; 
    }
    
    /* Services Session*/
    .services-header {
      text-align: center;
      margin: 2%;
      padding: 0 25%;
    }
    
    .services-header h3, 
    .services-header h6 {
      color: black;
      margin-bottom: 10px; 
    }
    
    .services-items {
      margin: 5% 10%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
    
    .services-insurance, 
    .services-savingplan,
    .services-investment {
      text-align: center;
      margin: 10%;
    }
    
    .services-items img {
      width: 100%;
      margin-bottom: 10px;
    }
    
    /* Why Choose Us Session*/
    .why-choose-us {
      position: relative;
      background: url("image/homepage_wcu.jpg"), rgba(0,0,0,0.6);
      background-blend-mode: darken;
      background-size: cover;
      color: white;
      text-align: center;
    }
    
    .wcu-header {
      padding: 40px 10%; 
      position: relative; 
    }
    
    .wcu-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      position: relative; 
    }
    
    .wcu-experience, 
    .wcu-expertise,
    .wcu-ethics {
      margin: 10%;
      padding: 5%;
    }
    
    .wcu-items .fas {
      font-size: 54px;
      color: #700000;
      margin: 10%;
    }

    @media screen and (max-width:770px) {
      * {
        background-color: #700000;
      }
    }

